name: Deploy

on: [push]

jobs:
  build:
    name: Run remote ssh command
    runs-on: ubuntu-latest
    steps:
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          script: |
            eval "$(ssh-agent -s)"
            ssh-add - <<< {{ secrets.GH_PRIVATE_KEY }}
            cd ./hambot
            git pull origin master
            ./deploy.sh
